@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: rgb(57, 49, 87);
  background-attachment: fixed; /* Background stays fixed */
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling of body */
  display: flex;
  justify-content: center;
  align-items: center;
}